body {
    font-family: "Courier", monospace;
    font-size: 16px;
    background-color: papayawhip;
    text-align: center;
}

nav {
    width: 100%;
    overflow: auto;
    background-color: #d5ffef;
}

nav a {
    float: left;
    padding: 12px;
    color: #666;
    text-align: center;
    text-decoration: none;
    width: 17%;
}

nav a:hover {
    background-color: #e3e3e3;
}

.footer-logo {
    width: 25px;
}

.code-text, .attribute {
    background-color: #530f41;
    color: white;
    font-size: 15px;
}

.attribute {
    font-style: italic;
}

h1, h2, th {
    color: #994029;
}

td, th {
    border: 1px solid black;
    height: 40px;
    min-width: 125px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #eee5de;
}

.important-attributes {
    min-width: 200px;
}

.intro p {
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 0.5;
}

#intro-end {
    opacity: 10;
}

article {
    padding-top: 25px;
}

#byline {
    margin-bottom: 5px;
}